body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

.roombn {
  font-size: 16px;
  padding: 5px;
}



.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.playerinfo {
  width: 225px;
  word-wrap:break-word;
  word-break: break-all;
  overflow: hidden
}

.map {
  width: 748px;
  height: 100%;
  overflow: hidden;
  background: green;
  float: right;
}

.grid {
  width: 12.5%;
  height: 12.5%;
  border: black;
}