body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

.roombn {
  font-size: 16px;
  padding: 5px;
}



.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}




.playerinfo {
  width: 225px;
  word-wrap:break-word;
  word-break: break-all;
  overflow: hidden;
  background-color: lightblue;
  border-radius: 0.5em;
}

.myplayerinfo {
  width: 225px;
  word-wrap:break-word;
  word-break: break-all;
  overflow: hidden;
  background-color: lightgreen;
  border-radius: 0.5em;

}

.map {
  width: 748px;
  height: 100%;
  overflow: hidden;
  /*background-image: image("styles/map.jpg");*/
  float: right;
}

.grid {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  opacity: 0.7;
  font-size: 10px;
  border-radius: 2em;
}

.center_bn {
  margin-left: 45%;
  margin-top: 30%;
}